*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    position: relative;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float{
    float: left;
}

/* Layout */ 

.top-upgrade{
    position: fixed;
    right: 0;
    top: 0;
    width: 85%;
    height: 100px;
    background-color: black;
    z-index: 999;
}

.body-container{
    height: 100%;
    width: 100%;
}

.left-col-menu{
    width: 15%;
    height: calc(100% - 100px);
    background-color: black;

}

.right-content{
    width: 85%;
    height: 100%;
    background-color:red;
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: seagreen;
    z-index: 1000;
}

/* Fine layout */ 

/* Parte sinistra menu */ 

.left-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    color: grey;
    margin: 0 1.5em;
}

.left-menu li{
    margin: 1em 0;
}

.playlist{
    margin: 0;
}

.utente-bottom{
    align-self: flex-end;
}

.small-logo{
    display: none;
}

.logo img{
    width: 60%;
}

/* Fine parte sinistra menu */ 