*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float{
    float: left;
}

/* Layout */ 

.top-upgrade{
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 250px);
    height: 100px;
    background-color: black;
    z-index: 999;
}

.body-container{
    height: 100%;
    width: 100%;
}

.left-col-menu{
    width: 250px;
    height: calc(100% - 100px);
    background-color: black;
    position: relative;

}

.right-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: red;
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: seagreen;
    z-index: 1000;
}

/* Fine layout */ 

/* Parte sinistra menu */ 

.left-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    color: grey;
    margin: 0 1.5em;
}

.left-menu li{
    margin: 0.8em 0;
}

li svg{
    display: inline-block;
    width: 30px;
}

li span{
    line-height: 30px;
    vertical-align: bottom;
    font-weight: 600;
}

li h1{
    font-size: 1em;
    font-weight: 700;
    color: white;
}

li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0 0.3em 0 0.3em;
    background-color: #f2f2f2;
    color:black;
    margin-right: 0.2em;

}

.playlist{
    margin: 0;
}

.utente-bottom{
    width: 218px;
    margin:  0 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}

.install{
    margin: 0.5em 0;
    color: grey;
    font-weight: 700;
}

.user{
    margin: 0.8em 0;
}

.user-img{
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-right: 0.2em;
}

.user-img svg{
    width: 40px;
}

.user h1{
    display: inline-block;
    color: white;
    font-size: 1em;
    line-height: 40px;
    vertical-align: bottom;
}

.small-logo{
    display: none;
}

.logo img{
    width: 150px;
}

/* Fine parte sinistra menu */ 